# Temp directories
bin/
lib/

# Extra Doxygen Files
config.log
config
mainpage.dox

# Makefile
Makefile

# Doxygen Latex Extras
latex/**
!latex/refman.pdf
!latex/refman.tex
!latex/hw__fixed_8cc.tex

# doxygen config
doxyconfig.conf

# doxygen html
html/**
